body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
/*  Meny  */
.Meny {
    display: flex;
    justify-content: center;
}
.TopNav{
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
}
.Menyknapp{
    margin-left: 15px;
    margin-right: 15px;
    color: #818181;
    text-decoration: none;
}
.Menyknapp:hover{
    color: #444;
}
#Menyaktiv {
    margin-left: 15px;
    margin-right: 15px;
    color: #444;
    font-weight: bold;
    text-decoration: underline;
}
.Ikoner {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

/*  ProduktPreview  */

.ProduktOversikt {
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.ProduktPreview {
    margin-top: 25px;
    padding: 10px;
    width: 400px;
    height: 550px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
}

.ProduktBilde{
    border-bottom: solid;
}

.Handlevognknapp {
    color:#fff;
    background-color: #ed2024;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    height: 8%;
    width: 90%;
    margin-left: 5%;
}

.Detaljerknapp {
    color:#fff;
    background-color: #818181;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    height: 8%;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
}