body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }

  .OmOssTitel {
    color: #000;
    margin-left: 22%;
  }
/*  Meny  */
.Meny {
    display: flex;
    justify-content: center;
    margin-right: 60px;
}
.TopNav{
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
}
.Menyknapp{
    margin-left: 15px;
    margin-right: 15px;
    color: #818181;
    text-decoration: none;
}
.Menyknapp:hover{
    color: #444;
}
#Menyaktiv {
    margin-left: 15px;
    margin-right: 15px;
    color: #444;
    font-weight: bold;
    text-decoration: underline;
}
.Ikoner {
    display: flex;
    justify-content: space-between;
}

/*  ProduktPreview  */

.ProduktOversikt {
    width: 95%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.ProduktPreview {
    margin-top: 25px;
    padding: 10px;
    width: 400px;
    height: 550px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
}

.ProduktBilde{
    border-bottom: solid;
}

.Handlevognknapp {
    color:#fff;
    background-color: #ed2024;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    height: 8%;
    width: 90%;
    margin-left: 5%;
}

.Detaljerknapp {

    background-color: #818181;
    border-style: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    height: 8%;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
}

.knapptekst {
    text-decoration: none;
    color:#fff;
}
.form-group {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.containerlogin {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#loginbtn {
  background-color: #ed2024;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#loginbtn:hover {
  opacity: 0.8;
}

.wrapperlog {
  background-color: #f1f1f1;
  padding: 16px;
}

.psw {
  float: left;
  margin-right: 10px;
}

.Produktview {
    display: flex;
    justify-content: row;
    border-top-style: solid;
    border-color: black;
    padding: 10px;
}

.Menybilde {
    display: flex;
    justify-content: center;
}

#profil {
    border-bottom-style: solid;
    border-color: black;
}

.HandlevognElement {
    max-width: 65%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-bottom: 30px;
}

.ticket-info-table {
    border-collapse: collapse;
    width: 100%;
}

.ticket-info-table th, .ticket-info-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.ticket-info-table th {
    background-color: #f2f2f2;
}

.ticket-info-table tr:nth-child(even) {
    background-color: #f2f2f2;
}