body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
.Meny {
    display: flex;
    justify-content: center;
}
.TopNav{
    font-size: larger;
}
.Menyknapp{
    color: #818181;
    text-decoration: none;
}
.Menyknapp:hover{
    color: #444;
}
#Menyaktiv {
    color: #444;
    text-decoration: none;
    font-weight: bold;
}